@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
html,
body {
  height: 100%;
  width: 100%;
}
ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}
ul {
  padding-top: 20px;
}
img {
  width: 100%;
  height: 100%;
}
h2 {
  font-size: 22px;
}
.ud_mBottom {
  margin-bottom: 10px;
}
.ud_negative_margin {
  margin-left: -15px;
  margin-right: -15px;
}
.navbar {
  margin-bottom: 0;
}
.navbar.ud_custom_nav {
  background-color: #fff;
  border: none;
}
.ud_inner {
  display: inline-block;
}
.ud_inner.ud_home_icons {
  position: absolute;
}
.ud_inner.ud_home_copy_icons {
  padding-left: 80px;
}
.ud_inner .ud_home_copy_content {
  font-size: 12px;
}
.ud_home_list {
  padding-top: 20px;
  padding-bottom: 20px;
}
.btn {
  border: none;
}
.btn.ud_alta_btn {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
.ud_text_box,
.ud_bg_search .ud_form_search input {
  height: 30px;
  padding: 5px;
  font-size: 12px;
}
@media (min-width: 992px) {
  .ud_text_box,
  .ud_bg_search .ud_form_search input {
    height: 40px;
  }
}
input {
  color: #9b9b9b;
}
.ud_subtitle {
  color: #4a90e2;
  font-weight: 700;
}
@media (min-width: 992px) {
  .ud_subtitle {
    padding-top: 50px;
  }
}
.jumbotron {
  background-color: inherit;
}
.container-full-bg {
  width: 100%;
  height: 100%;
  max-width: 100%;
  background-position: center;
  background-size: cover;
  padding-bottom: 50px;
}
@media (min-width: 992px) {
  .container-full-bg {
    padding-bottom: 0px;
  }
}
.container-full-bg .container,
.container-full-bg .container .jumbotron {
  height: 100%;
  width: 100%;
}
.ud_bg_first_block {
  position: relative;
  margin-top: 50px;
}
.ud_title_home {
  text-align: center;
  font-size: 36px;
  color: #ffffff;
  font-weight: 700;
}
@media (min-width: 992px) {
  .ud_title_home {
    margin-top: 50px;
    margin-bottom: 100px;
  }
  .ud_title_home .ud_big_title {
    color: #ffffff;
    font-size: 64px;
    font-weight: 700;
  }
  .ud_title_home h2 {
    font-size: 30px;
  }
}
.ud_bg_search {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20%;
}
.ud_bg_search .ud_form_search {
  position: absolute;
  left: 50%;
  min-width: 50%;
  transform: translate(-50%, 0);
}
.ud_bg_search .ud_form_search input {
  -lh-property: 0;
width:-webkit-calc(100% - 10px);
width:-moz-calc(100% - 10px);
width:calc(100% - 10px);
;
}
@media (min-width: 992px) {
  .ud_bg_search {
    background: url("../images/home/bg-search.png");
    background-repeat: repeat;
  }
  .ud_bg_search .ud_form_search {
    top: 25%;
  }
}
.col-sm-6 {
  float: none;
}
@media (min-width: 992px) {
  .col-sm-6 {
    float: left;
  }
}
.ud_doc_search {
  width: 100%;
  background-color: #4a90e2;
  padding: 1rem;
}
.ud_doc_filter {
  text-align: center;
  color: #ffffff;
  font-weight: 700;
}
.ud_doc_filter .ud_box_filter_button {
  margin-top: 10px;
  margin-bottom: 20px;
  background-color: #9B9B9B;
  color: #ffffff;
}
@media (min-width: 992px) {
  .ud_doc_filter h2 {
    font-size: 30px;
  }
}
.ud_doc_filter input {
  width: 100%;
  height: 40px;
}
.ud_profesional_content {
  text-align: center;
  padding: 50px;
}
.ud_profesional_content h2 {
  color: #00BCB4;
}
.ud_profesional_content p {
  color: #9b9b9b;
}
.ud_profesional_content a {
  color: #9b9b9b;
  text-decoration: underline;
  font-size: 14px;
}
.ud_profesional_content .ud_profesional_button {
  background-color: #00BCB4;
  color: #ffffff;
  margin-top: 20px;
  margin-bottom: 20px;
}
.ud_bg_forth_block {
  color: #ffffff;
  background-color: #667682;
  padding: 1rem 1rem 3rem 1rem;
}
.ud_bg_forth_block .panel-heading {
  padding: 0;
  background-color: transparent;
  color: #ffffff;
  border-color: transparent;
}
.ud_bg_forth_block .panel-title {
  background-color: transparent;
}
.ud_bg_forth_block .panel-title a {
  text-decoration: none;
}
.ud_bg_forth_block .panel-body {
  border-top-color: 0;
  border-top: 0;
}
.ud_bg_forth_block .panel-default {
  border-color: #667682;
}
.ud_bg_forth_block .panel {
  background-color: transparent;
}
.ud_bg_forth_block h2 {
  color: #ffffff;
}
.ud_bg_footer {
  background-color: #00bcb4;
  height: 100px;
  position: relative;
}
.ud_footer_circle {
  background-color: #fff;
  height: 63px;
  -moz-border-radius: 75px;
  -webkit-border-radius: 75px;
  width: 63px;
  left: 50%;
  margin-top: -31px;
  transform: translate(-50%, 0);
  position: absolute;
}
