@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
html,
body {
  height: 100%;
  width: 100%;
}
ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}
dt,
dl {
  margin: 0;
  padding: 0;
}
img {
  width: 100%;
  height: 100%;
}
h2 {
  font-size: 22px;
}
a,
.btn-link {
  color: #4a4a4a;
  text-decoration: none;
}
.ud_mTop {
  margin-bottom: 1rem;
}
.ud_mBottom {
  margin-bottom: 1rem;
}
.ud_negative_margin {
  margin-left: -15px;
  margin-right: -15px;
}
.ud_mLeft {
  margin-left: 1rem;
}
.ud_mRight {
  margin-right: 1rem;
}
.ud_center_align {
  text-align: center;
}
.ud_paddingBottom {
  padding-bottom: 1rem;
}
.ud_paddingTop {
  padding-top: 1rem;
}
.ud_hide_elements {
  display: none;
}
.ud_skip {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  font-size: 11px;
}
.ud_custom_paragraph {
  color: #ffffff;
}
.ud_list_inline li {
  display: inline-block;
}
.ud_breadcrumb {
  font-size: 12px;
  color: #4a4a4a;
  padding: 15px;
}
.ud_breadcrumb span {
  display: inline-block;
}
.ud_breadcrumb span a {
  font-weight: 700;
}
.ud_breadcrumb .ud_bc_divider {
  padding-left: 5px;
  padding-right: 5px;
}
.btn {
  border: none;
}
.btn.ud_alta_btn {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
.ud_thin_line_normal {
  background-color: #dcdcdc;
  margin-bottom: 1.5rem;
}
.ud_thin_line_wide {
  background-color: #dcdcdc;
  margin-bottom: 1.5rem;
  margin-left: -1.5rem;
  margin-right: -1.5rem;
}
.ud_small_link {
  font-size: 12px;
}
.navbar {
  margin-bottom: 0;
}
.navbar.ud_custom_nav {
  background-color: #ffffff;
  border: none;
}
.navbar-right {
  margin-right: 0;
}
.ud_inner {
  display: inline-block;
}
.ud_inner.ud_home_icons {
  position: absolute;
}
.ud_inner.ud_home_copy_icons {
  padding-left: 80px;
}
.ud_inner .ud_home_copy_content {
  font-size: 12px;
}
.ud_home_list {
  padding-top: 20px;
  padding-bottom: 20px;
}
.ud_text_box,
.ud_bg_search .ud_form_search input {
  height: 30px;
  padding: 5px;
  font-size: 12px;
}
@media (min-width: 992px) {
  .ud_text_box,
  .ud_bg_search .ud_form_search input {
    height: 40px;
  }
}
.ud_modal_form {
  max-width: 400px;
  margin: 0 auto;
}
input {
  color: #9b9b9b;
}
.ud_subtitle {
  color: #4a90e2;
  font-weight: 700;
}
@media (min-width: 992px) {
  .ud_subtitle {
    padding-top: 50px;
  }
}
.jumbotron {
  background-color: inherit;
}
.container-full-bg {
  width: 100%;
  height: 100%;
  max-width: 100%;
  background-position: center;
  background-size: cover;
  padding-bottom: 50px;
}
@media (min-width: 992px) {
  .container-full-bg {
    padding-bottom: 0px;
  }
}
.container-full-bg .container,
.container-full-bg .container .jumbotron {
  height: 100%;
  width: 100%;
}
.ud_bg_first_block {
  position: relative;
  margin-top: 50px;
}
.ud_title_home {
  text-align: center;
  font-size: 36px;
  color: #ffffff;
  font-weight: 700;
}
@media (min-width: 992px) {
  .ud_title_home {
    margin-top: 50px;
    margin-bottom: 100px;
  }
  .ud_title_home .ud_big_title {
    color: #ffffff;
    font-size: 64px;
    font-weight: 700;
  }
  .ud_title_home h2 {
    font-size: 30px;
  }
}
.ud_bg_search {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 35%;
}
@media (min-width: 992px) {
  .ud_bg_search {
    height: 30%;
  }
}
.ud_bg_search .ud_form_search {
  position: absolute;
  left: 50%;
  min-width: 50%;
  transform: translate(-50%, 0);
}
.ud_bg_search .ud_form_search .ud_form_search_icon {
  right: 75px;
  top: 5px;
  position: absolute;
  z-index: 9999;
}
.ud_bg_search .ud_form_search .ud_button_send {
  height: 30px;
}
@media (min-width: 992px) {
  .ud_bg_search .ud_form_search .ud_button_send {
    height: 40px;
  }
}
@media (min-width: 992px) {
  .ud_bg_search {
    background: url("../images/home/bg-search.png");
    background-repeat: repeat;
  }
  .ud_bg_search .ud_form_search {
    top: 25%;
  }
}
.col-sm-6 {
  float: none;
}
@media (min-width: 992px) {
  .col-sm-6 {
    float: left;
  }
}
.ud_doc_search {
  width: 100%;
  background-color: #4a90e2;
  padding: 1rem;
}
ul.ud_filter_doctors {
  padding-top: 20px;
}
.ud_doc_filter {
  text-align: center;
  color: #ffffff;
  font-weight: 700;
}
.ud_doc_filter .ud_box_filter_button {
  margin-top: 10px;
  margin-bottom: 20px;
  background-color: #9b9b9b;
  color: #ffffff;
}
@media (min-width: 992px) {
  .ud_doc_filter h2 {
    font-size: 30px;
  }
}
.ud_doc_filter input {
  width: 100%;
  height: 40px;
}
.ud_profesional_content {
  text-align: center;
  padding: 50px;
}
.ud_profesional_content h2 {
  color: #00bcb4;
}
.ud_profesional_content p {
  color: #9b9b9b;
}
.ud_profesional_content a {
  color: #9b9b9b;
  text-decoration: underline;
  font-size: 14px;
}
.ud_profesional_content .ud_profesional_button {
  background-color: #00bcb4;
  color: #ffffff;
  margin-top: 20px;
  margin-bottom: 20px;
}
.ud_bg_forth_block {
  color: #ffffff;
  background-color: #667682;
  padding: 1rem 1rem 3rem 1rem;
}
.ud_bg_forth_block .panel-heading {
  padding: 0;
  background-color: transparent;
  color: #ffffff;
  border-color: transparent;
}
.ud_bg_forth_block .panel-title {
  background-color: transparent;
}
.ud_bg_forth_block .panel-body {
  border-top-color: 0;
  border-top: 0;
}
.ud_bg_forth_block .panel-default {
  border-color: #667682;
}
.ud_bg_forth_block .panel {
  background-color: transparent;
}
.ud_bg_forth_block h2 {
  color: #ffffff;
}
.ud_main_search {
  background-color: #00bcb4;
  padding: 2rem;
  position: relative;
  margin-top: 50px;
}
.ud_profesional_info {
  margin-bottom: 5px;
}
.ud_profesional_info .ud_profesional_name {
  color: #00bcb4;
}
.ud_profesional_info .ud_profesional_profesion {
  font-size: 12px;
}
.ud_profesional_places {
  font-size: 12px;
}
.ud_profesional_places dt,
.ud_profesional_places dd,
.ud_profesional_places ul,
.ud_profesional_places li,
.ud_profesional_places span {
  display: inline-block;
}
.ud_profesional_places .fa-map-marker {
  padding-right: 5px;
}
@media (max-width: 768px) {
  .col-sm-2.ud_custom_col_img {
    width: 30%;
    float: left;
  }
}
@media (max-width: 768px) {
  .col-sm-7.ud_custom_col_info {
    width: 70%;
    float: left;
  }
}
.google-maps {
  position: relative;
  padding-bottom: 15%;
  height: 0;
  overflow: hidden;
}
.google-maps iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
}
.ud_bg_footer {
  background-color: #00bcb4;
  height: 100px;
  position: relative;
}
.ud_bg_footer .ud_footer_circle {
  background-color: #ffffff;
  height: 63px;
  -moz-border-radius: 75px;
  -webkit-border-radius: 75px;
  width: 63px;
  left: 50%;
  margin-top: -31px;
  transform: translate(-50%, 0);
  position: absolute;
}
