// ++++++++ IMPORTS +++++++

@import 'variables.less';
@import 'lesshat.less';

// ++++++++ RESET ++++++++

html,body { height:100%;width:100%; }

ul,li { 
	list-style:none; 
	padding:0;
	margin:0;
}
dt,dl{
	margin:0;
	padding:0;
}

img{
	width:100%;
	height:100%;
}
h2{
	font-size:@font-size-h2 - 8px;
}
a, .btn-link{
	color:@ud_dark_gray;
	text-decoration: none;
}

// +++++++ REESPONSIVE TEXT +++++ 

@media (min-width: @screen-sm) {  }

@media (min-width: @screen-md) {  }

@media (min-width: @screen-lg) {  }

//+++++++++ VARS +++++++++

@ud_padding_rem: 1rem;

// COLORS

@ud_primary_color: #00BCB4;
@ud_secondary_color: #4A90E2;
@ud_third_color:#667682;
@ud_white_color:#ffffff;

@ud_dark_gray: #4A4A4A;
@ud_soft_gray:#9B9B9B;


//+++++++++ HELPERS AND EXTENDS +++++++++

.ud_mTop{ margin-bottom:1rem; }
.ud_mBottom{ margin-bottom:1rem; }
.ud_negative_margin{ margin-left:-15px; margin-right:-15px; }
.ud_mLeft{ margin-left:1rem; }
.ud_mRight{ margin-right:1rem; }
.ud_center_align{ text-align:center; }
.ud_paddingBottom{ padding-bottom:1rem; }
.ud_paddingTop{ padding-top:1rem; }
.ud_hide_elements{ display:none;}
.ud_skip{
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
	font-size: 11px
}
.ud_custom_paragraph{
	color:@ud_white_color;
}
.ud_list_inline{
	li{
		display: inline-block;
	}
}

// BREADCRUMBS

.ud_breadcrumb{
	font-size:@font-size-h6;
	color:@ud_dark_gray;
	padding:15px;
	span{
		display: inline-block;
		a{
			font-weight: 700;
		}
	}
	.ud_bc_divider{
		padding-left:5px;
		padding-right:5px;
	}
}

// CUSTOM BUTTON SHADOW

.btn{
	border:none;
	&.ud_alta_btn{
		box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12)
	}
}

// DIVIDERS

.ud_thin_line_normal{
	background-color:#dcdcdc;
	margin-bottom:1.5rem;
	&:extend(.clearfix);
}
.ud_thin_line_wide{
	background-color:#dcdcdc;
	margin-bottom:1.5rem;
	margin-left:-1.5rem;
	margin-right:-1.5rem;
	&:extend(.clearfix);
}

// custom links
.ud_small_link{ font-size:@font-size-small; }

// +++++++ OVERRIDES ++++++++

// NAVBAR

.navbar{
	margin-bottom:0;
	&.ud_custom_nav{
		background-color:@ud_white_color;
		border:none;
	}
}
.navbar-right{ margin-right:0; }

// ICONS

.ud_inner{
	display: inline-block;
	&.ud_home_icons{
		position:absolute;
	}
	&.ud_home_copy_icons{
		padding-left:80px;
	}
	.ud_home_copy_content{
		font-size: @font-size-h6;
	}
}
.ud_home_list{
	padding-top:20px;
	padding-bottom:20px;
}


// FORM

.ud_text_box{
	height:30px;
	@media (min-width: @screen-md) { height:40px; }
	padding:5px;
	font-size: @font-size-small;
}
.ud_modal_form{
	max-width:400px;
	margin:0 auto;
}

input{ color:@ud_soft_gray; }


// +++++ TEMPLATING HOME +++++++

// GENERAL

.ud_subtitle{
	@media (min-width: @screen-md) { padding-top:50px; }
	color:@ud_secondary_color;
	font-weight:700;
}


.jumbotron { background-color:inherit; }

.container-full-bg {
	width:100%;
	height:100%;
	max-width:100%;
	background-position:center;
	background-size:cover;
	padding-bottom: 50px;
	@media (min-width: @screen-md) { padding-bottom: 0px }	
}
.container-full-bg .container, .container-full-bg .container .jumbotron {height:100%;width:100%;}


// BLOCK : first module search

.ud_bg_first_block{
	position:relative;
	margin-top:50px;
}

.ud_title_home{
	text-align: center;
	font-size: @font-size-h1;
	color:@ud_white_color;
	font-weight: 700;
	@media (min-width: @screen-md) { 
		margin-top:50px;
		margin-bottom:100px;
		.ud_big_title{
			color:@ud_white_color;
			font-size: @font-size-extra-large;
			font-weight: 700;
		}
		h2{
			font-size: @font-size-h2;
		}
	}
}

.ud_bg_search{
	position: absolute;
	bottom:0;
	left:0;
	width: 100%;
	height:35%;
	@media (min-width: @screen-md) { 
		height:30%;
	}

	.ud_form_search{
		position:absolute;
		left:50%;
		min-width:50%;
		transform: translate(-50%, 0);
		input{
			&:extend(.ud_text_box);
		}
		.ud_form_search_icon{
			right:75px;
			top:5px;
			position:absolute;
			z-index: 9999;
		}
		.ud_button_send{
			height:30px;
			@media (min-width: @screen-md) { 
				height:40px;
			}
		}
	}
	@media (min-width: @screen-md) { 
		background:url("../images/home/bg-search.png");
		background-repeat: repeat;
		.ud_form_search{
			top:25%;
		}
	}
}
.col-sm-6{
	float: none;
	@media (min-width: @screen-md) { float: left;}
}

// BLOCK: second module search

.ud_doc_search{
	width:100%;
	background-color:@ud_secondary_color;
	padding:1rem;
}
ul.ud_filter_doctors{
	padding-top:20px;
}
.ud_doc_filter{
	text-align: center;
	color:@ud_white_color;
	font-weight: 700;
	.ud_box_filter_button{
		margin-top:10px;
		margin-bottom: 20px;
		background-color:@ud_soft_gray;
		color:@ud_white_color;
	}
	@media (min-width: @screen-md) { 
		h2{
			font-size: @font-size-h2;
		}
	}
	input{
		width:100%;
		height:40px;
	}
}

// BLOCK: third module profesional

.ud_profesional_content{
	text-align:center;
	padding:50px;
	h2{
		color:@ud_primary_color;
	}
	p{
		color:@ud_soft_gray;
	}
	a{
		color:@ud_soft_gray;
		text-decoration: underline;
		font-size:@font-size-base;
	}
	.ud_profesional_button{
		background-color:@ud_primary_color;
		color:@ud_white_color;
		margin-top: 20px;
		margin-bottom: 20px;
	}
}

// BLOCK: forth block

.ud_bg_forth_block{
	color:@ud_white_color;
	.panel-heading{
		padding:0;
		background-color:transparent;
		color:@ud_white_color;
		border-color:transparent;
	}
	.panel-title{
		background-color:transparent;
	}
	.panel-body{
		border-top-color:0;
		border-top:0;
	}
	.panel-default{
		border-color:@ud_third_color;
	}
	.panel{
		background-color:transparent;
	}
	h2{
		color:@ud_white_color;
	}
	background-color:@ud_third_color;
	padding:1rem 1rem 3rem 1rem;
}

// ++++++++++++++++ MAIN SEARCH +++++++++++++++

.ud_main_search{
	background-color:@ud_primary_color;
	padding:2rem;
	position:relative;
	margin-top:50px;
}

// ++++++++++++++++ PROFESIONALS ++++++++++++++
.ud_profesional_dates{
	margin-bottom:5px;
	.ud_profesional_name{
		color:@ud_primary_color;
	}
	.ud_profesional_profesion{
		font-size: @font-size-h6;
	}
}
.ud_profesional_places{
	font-size:@font-size-h6;
	dt,dd,ul,li,span{
		display: inline-block;
	}
	.fa-map-marker{
		padding-right:5px;
	}
}

// RESPONSIVE MAP
.google-maps {
    position: relative;
    padding-bottom: 15%; 
    height: 0;
    overflow: hidden;
}
.google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
}




// footer

.ud_bg_footer{
	background-color:@ud_primary_color;
	height:100px;
	position:relative;
	.ud_footer_circle{
		background-color: @ud_white_color;
		height: 63px;
		-moz-border-radius:75px;
		-webkit-border-radius: 75px;
		width: 63px;
		left:50%;
		margin-top:-31px;
		transform: translate(-50%, 0);
		position:absolute;
	}
}